.edit-user-form-field {
    display: flex;
    align-items: center;
    width: 100%;
}

.edit-user-form-field p {
    width: 100px;
}

.edit-user-form > div {
    margin: 10px;
}

.edit-user-form-button {
    display: flex;
    justify-content: center;
}

.edit-user-form-button > button {
    margin: 10px;
}
