@import '../../commons/styles.scss';

.btn {
    @include flexbox(center, center, nowrap, row);
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    height: 3rem;
    outline: none;
    border-radius: $border-radius;
    background-color: transparent;
    color: white;
}

.btn-success {
    background-color: #5cb85c;
}

.btn-danger {
    background-color: #d9534f;
}

.btn-warning {
    background-color: #f0ad4e;
}

.btn-primary {
    background-color: #0275d8;
}


